*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.slide{
    height: 500px;
    background-size: cover;
    position: absolute;
    transform: translateX(100%);
    width: 100%;
  
   

}
.active{
    transform: translateX(0%);
}
.one{
    background: url(../img/baner1.jpg) no-repeat center;
    background-size: cover;
}

.two{
    background: url(../img/baner2.jpg) no-repeat center;
    background-size: cover;
}
.three{
    background: url(../img/baner3.jpg) no-repeat center;
    background-size: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev{
    height: 50px;
    width: 50px;
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
    background-color: chartreuse;
    position: absolute;
    top: 250px;
    left:10px;
   text-align: center;
    }

    
.next{
    height: 50px;
    width: 50px;
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
    background-color: chartreuse;
    position: absolute;
    top: 250px;
    right: 10px;
    text-align: center;

    }
